<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{title}} </title>
</head>
<body>
    <h1>Hello {{user.username}} </h1>
    {% if not posts %}
    <div><p> List of archived notes is empty </p></div>
    {% else %}
    <h2> Your archived notes: </h2>
    {% for post in posts %}
    <a href="{{ url_for('archived_note', note_id=post.id) }}">{{post.note}}</a>
    <br>
    <br>
    {% endfor %}
    {% endif %}
    <br>
    Go to
    <a href="/index">index</a>
    <a href="/login">login</a>
</body>
</html>