<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{title}} </title>
</head>
<body>
    <h1>Hello {{user.username}} </h1>
    {% if not posts %}
    <div><p> List of saved notes is empty </p></div>
    {% else %}
    <h2> Your saved notes: </h2>
    {% for post in posts %}
    <a href="{{ url_for('note', note_id=post.id) }}">{{post.note}}</a>
    <br>
    <br>
    {% endfor %}
    {% endif %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.new_note.label }}<br>
            {{ form.new_note(size=32) }}
        </p>
        <p>{{ form.save() }}</p>
    </form>
</body>
</html>